{
    margin:0;
    padding:0;
}
body{
    background:#fff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    width:8000px;
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
}

/* Styling of charts */
.dimple-axis{
  font-family: 'Raleway', sans-serif !important;
  font-size: 18px !important;
  padding-top: 10px !important;
}


.dimple-custom-axis-label{
  font-family: 'Raleway', sans-serif !important;
  font-size: 12px !important;
}

text.dimple-legend{
  font-family: 'Raleway', sans-serif !important;
  font-size: 15px !important;
}

rect.dimple-legend.dimple-legend-key{
  height: 14px !important;
  width: 18px  !important;
}

svg{
  padding-top: 20px;
}

div.chartTitle{
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px 0px 0px 30px;
}

span.subtitle{
  font-size: 0.8em;
  color: grey;
  /*text-align: center;*/
  margin-left: 350px;
}
/* Charts end */

.section{
    margin:0px;
    bottom:0px;
    width:2000px;
    float:left;
    height:100%;
    text-shadow:1px 1px 2px #f0f0f0;
}

a{
   text-decoration:none;
}

.section p{
    width: 950px;
    margin: 60px 0px 0px 30px;
}

div.chart{
  width: 1500px;
  border-style: solid;
  border-width: 2px 0px 0px 0px;
  border-color: whitesmoke;
  margin-top: 50px;
}

span.header{
    width: 8000px;
    position:fixed;
    left: 30px;
    top: 0px;
    color: #E23D28;
    background-color: white;
}

.header h2{
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    margin-bottom: 5px;
}

.section ul{
    list-style:none;
    display:block;
    margin:0px 0px 30px 980px;
}

.section ul li{
    float:left;
    padding:5px;
    margin:5px;
}

li.current{
  color:#E23D28;
  font-size: 1.1em;
  font-weight: bolder;
}

.section ul li a{
    display:block;
    color:#222;
}
.section ul li a:hover{
    text-decoration:none;
    color:#E23D28;
}
